<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather Aplication</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Weather Aplication</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="#">The main</a>
          <a class="p-2 text-dark" href="#">Information</a>
        </nav>
        <a class="btn btn-outline-primary" href="#">Documentation</a>
      </div>
      <div class="container mt-5">
          <div class="row">
              <div class="col-5 offset-1">
                  <h1>Weather in your city</h1>
                  <form action="" method="POST" >
                      {% csrf_token %}
                      <label for="city">City</label>
                      {{ form.name }}
                      <input type="submit" name="send" value="Didcover" class="mt-2 btn btn-danger">
                  </form>
              </div>
              <div class="col-4 offset-2">
                  <h1>Information</h1>
                  {% for info in all_info %}
                  <div class="alert alert-info">
                      <div class="row">
                          <div class="col-9">
                              <b>Town: </b>{{ info.city }}<br>
                              <b>Temperature: </b>{{ info.temp }}<sup>0</sup>
                          </div>
                          <div class="col-2 offset-1">
                              <img src="https://openweathermap.org/img/w/{{ info.icon }}.png" alt="Weather photo">
                          </div>
                      </div>
                  </div>
                  {% endfor %}
              </div>
          </div>
      </div>

</body>
</html>
